@import "tailwindcss";

@theme {
  --color-primary: #6C2BD9;
  --color-secondary: #FF4D8D;
  --color-background: #F8F7FC;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: #1a202c;
  }
}
